<div class="page-header">
	<div class="container">
		<h1><%= @list.title %></h1>
		<p><%= @list.description %></p>
	</div>
</div>

<% if @list.versions.count > 0 %>
<div class="box">
	<div class="container">
		<!-- begin conditional if version count > 0 -->

		<!-- <ul class="nav nav-pills nav-justified">
			<% @versions.each_with_index do |version, index| %>	
			  <li role="presentation" <%= 'class="active"' if index == 0 %>><a href="#">Version <%= index +1 %></a></li>
		  	<% end %>
		</ul>
		<br> -->

		<!-- should be replaced by 3 first versions -->
<!-- 		<h2><%= @list.versions.first.title %></h2>
		<p><%= @list.versions.first.description %></p> -->

		<div class="well">
			<h4><%= @files.count %> Files Used</h4>
			<ul>
				<% @files.each do |item| %> 
					<% unless item.path.empty? %><li><%= item.path %></li><% end %>
				<% end %>
			</ul>
		</div>
		<h3 class="line"><%= @list.versions.first.items.count %> Steps to complete</h3>
		<% @list.versions.first.items.each_with_index do |item, index| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<h3 class="panel-title"><%= index+1 %>. <%= item.title %> <% if lang(item) != "none" %><span class="label label-primary pull-right"><%= lang(item) %></span><% end %></h3>
			  	<h4><span class="label label-info"><%= item.try(:path) %></span></h4>
			  </div>
			  <div class="panel-body">
			  	<p><%= item.description %></p>
			    <p><pre><code class="language-<%= lang(item) %>"><%= h item.code %></code></pre></p>
			  </div>
			</div>
		<% end %>

		<% if current_user?(@list.versions.first.user) %>
			<p><a href="/lists/<%= @list.id %>/versions/<%= @list.versions.first.id %>/edit">Edit this version</a></p>
		<% end %>
	</div>
</div>
<% end %> <!-- end conditional if version count > 0 -->

<div class="box info-relative">
	<div class="container">
		<h4>Available versions (<%= @list.versions.count %>)</h4>
			<% @list.versions.each do |version| %>
				<p><a href="/lists/<%= @list.id%>/versions/<%= version.id %>"><%= version.title ||= "Original Version" %></a></p>
			<% end %>
				<p><a class="btn btn-transparent" href="/lists/<%= @list.id %>/versions/new"><%= logged_in? ? "#{current_user.name}, Add a new version" : "Add a new version (create your account first)" %></a></p>

		<h4>Contributors to this lyst</h4>
			<% @contributors.uniq.each do |contributor| %>
				<p><a href=""><%= contributor.full_name %></a>, latest update <%= contributor.versions.last.updated_at.strftime("%b %d, %Y - %H:%M UTC") %></p>
			<% end %>
	</div>	
</div>