<h1><%= @list.title %></h1>
<p><%= @list.description %></p>
<br>
<ul class="nav nav-tabs nav-justified">
	<% @versions.each_with_index do |version, index| %>	
	  <li role="presentation" <%= 'class="active"' if index == 1 %>><a href="#">Version <%= index +1 %></a></li>
  	<% end %>
</ul>
<br>
<% @list.versions.first.items.each do |item| %>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<h3 class="panel-title"><%= item.title %></h3>
	  	<span class="label label-info"><%= item.path.blank? ? "app/example_path.erb" : item.path %></span>
	  </div>
	  <div class="panel-body">
	  	<p><%= item.description %></p>
	    <p><%= item.code %></p>
	  </div>
	</div>
<% end %>
<p><a href="/lists/<%= @list.id %>/versions/<%= @list.versions.first.id %>/edit">Edit this version</a> | <a href="">Add a new version</a></p>


<hr>
<h4>Available versions (<%= @list.versions.count %>)</h4>
<ul>
	<% @list.versions.each do |version| %>
		<li><%= version.title ||= "Base" %></li>
	<% end %>
	<li><a href="">Add a new version</a></li>
</ul>

<hr>

<h4>Contributors to this lyst</h4>
<ul>
	<% @contributors.each do |contributor| %>
		<li><%= contributor.full_name %>, last update on <%= contributor.versions.last.updated_at.strftime("%b %d, %Y - %H:%M UTC") %></li>
	<% end %>
</ul>

<hr>