<h1>Users (<%= @users.count %>)</h1>
<p>This is a list of all users of CodeLyst</p>

<% if SessionHelpers.is_logged_in?(session) %>
	<div class="alert alert-info" role="alert">
		<p>Currently logged-in as <%= SessionHelpers.current_user(session).full_name %> (user_id: <%= session[:user_id] %>)</p>
	</div>
<% end %>

<% @users.each do |user| %>
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <img class="media-object" src="<%= user.picture_url %>" alt="<%= user.full_name %>">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading"><%= user.full_name %></h4>
	    <span class="label label-info">Id: <%= user.id %></span> 
	    <span class="label label-default">Lists: <%= user.lists.count %></span> 
	    <span class="label label-success">Created: <%= user.created_at.strftime("%b %d, %Y - %H:%M UTC") %></span>
	    <p><%= user.description %></p>
	    <button type="button" class="btn btn-default"><a href="/users/<%= user.id %>/edit">Edit</a></button>
	  </div>
	</div>
<% end %>