<h1>Edit Version<%= @version.title ||= "Original Version" %></h1>
<h2>List: "<%= @list.title %>"</h2>

<% unless @version == @list.versions.first %>
<form action="/lists/<%= @list.id %>/versions/<%= @version.id %>/edit" method="POST" >
	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Title</span>
		<input type="text" name="version[title]" class="form-control" value="<%= @version.title %>">
	</div>

	<div class="input-group">
		<span class="input-group-addon" id="basic-addon1">Description</span>
		<input type="text" name="version[description]" class="form-control" value="<%= @version.description %>">
	</div>
		
	<input type="hidden" name="_method" value="PATCH">
	<input type="submit" name="Update Version" class="btn btn-success">
</form>	
<% end %>

<hr>

<% if !@items.empty? %>
	<h3>Edit items for this list:</h3>
	<% @items.each_with_index do |item, index| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"><%= index+1 %>. <%= item.title %></h2>
			</div>
			<div class="panel-body">
				<p><%= item.description %></p>
				<p><pre><code class="language-html"><%= h item.code %></code></pre></p>
			</div>
			<div class="panel-footer"><a href="/lists/<%= @list.id %>/versions/<%= @version.id %>/item/<%= item.id %>/edit">Edit</a></div>
		</div>
	<% end %>
<% else %>
	<p>No items for this version yet.</p>
<% end %>

<a href="/lists/<%= @list.id %>/versions/<%= @version.id %>/items/new"><button type="button" class="btn btn-success">Add item</button></a>