<div class="page-header">
	<div class="container">
		<p>Edit Version</p>
		<h1><%= @version.title ||= "Original Version" %></h1>
		<p>From List "<%= @list.title %>"</p>
	</div>
</div>

<div class="box">
	<div class="container">

		<form action="/lists/<%= @list.id %>/versions/<%= @version.id %>/edit" method="POST" >
			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Title</span>
				<input type="text" name="version[title]" class="form-control" value="<%= h @version.title %>">
			</div>

			<div class="input-group">
				<span class="input-group-addon" id="basic-addon1">Description</span>
				<input type="text" name="version[description]" class="form-control" value="<%= h @version.description %>">
			</div>
				
			<input type="hidden" name="_method" value="PATCH">
			<input type="submit" name="Update Version" class="btn btn-success">
		</form>	

		<hr>

		<% if !@items.empty? %>
			<h3 class="line">Edit items for this list:</h3>
			<% @items.each_with_index do |item, index| %>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><%= index+1 %>. <%= item.title %> <span class="label label-primary pull-right"><%= lang(item) %></span></h3>
					</div>
					<div class="panel-body">
						<p><%= item.description %></p>
						<p><pre><code class="language-<%= lang(item) %>"><%= h item.code %></code></pre></p>
					</div>
					<div class="panel-footer">
						<a class="btn btn-warning" href="/lists/<%= @list.id %>/versions/<%= @version.id %>/item/<%= item.id %>/edit">Edit</a>
						<div class="pull-right">
							<form action="/lists/<%= @list.id %>/versions/<%= @version.id %>/items/<%= item.id %>/delete" method="POST" >
								<input type="hidden" name="_method" value="DELETE">
								<input type="submit" value="Delete Item" class="btn btn-danger">
							</form>
						</div>	
					</div>
				</div>
			<% end %>
		<% else %>
			<p>No items for this version yet.</p>
		<% end %>

		<a href="/lists/<%= @list.id %>/versions/<%= @version.id %>/items/new"><button type="button" class="btn btn-success">Add item</button></a>

		<hr>
		<div class="text-right">
			<p>All good things come to an end...</p>
			<h4>Want to get rid of this version, <%= current_user.name %>?</h4>
			<form action="/lists/<%= @list.id %>/versions/<%= @version.id %>/delete" method="POST" onsubmit="return confirm('Are you sure you want to delete the following version?')">
				<input type="hidden" name="_method" value="DELETE">
				<input type="submit" value="Delete Version" class="btn btn-danger">
			</form>
		</div>
	</div>
</div>
