<h1>Edit Version: "<%= @version.title ||= "No title yet for this version" %>"</h1>
<h2>List: "<%= @list.title %>"</h2>

<p>######### Form to edit title and description</p>

<hr>

<% if !@items.empty? %>
	<h3>Edit items for this list:</h3>
	<% @items.each do |item| %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title"><%= item.title %></h2>
			</div>
			<div class="panel-body">
				<p><%= item.description %></p>
				<p><pre><code class="language-html"><%= h item.code %></code></pre></p>
			</div>
			<div class="panel-footer"><a href="/lists/<%= @list.id %>/versions/<%= @version.id %>/item/<%= item.id %>/edit">Edit</a></div>
		</div>
	<% end %>
<% else %>
	<p>No items for this version yet.</p>
<% end %>

<a href="/lists/<%= @list.id %>/versions/<%= @version.id %>/items/new"><button type="button" class="btn btn-success">Add item</button></a>