<div class="page-header">
	<div class="container">
		<% if @version == @list.versions.first %>
			<h1><%= @list.title %></h1>
			<p><%= @list.description %> [Original Version]</p>
		<% else %>
			<h1><%= @version.title %></h1>
			<p><%= @version.description %></p>
			<p>This is an alternate version for "<a href="/lists/<%= @list.id %>"><%= @list.title %></a>": <%= @list.description %></p>
		<% end %>
	</div>
</div>

<div class="box">
	<div class="container">

		<h4>Files Used</h4>
		<ul class="list-group">
			<% @version.items.each do |item| %> 
				<li class="list-group-item"><%= item.path %></li>
			<% end %>
		</ul>

		<h3 class="line">Steps to complete</h3>
		<% @version.items.each do |item| %>
			<div class="panel panel-default">
			  <div class="panel-heading">
			  	<h3 class="panel-title"><%= item.title %> <span class="label label-primary pull-right"><%= lang(item) %></span></h3>
			  	<span class="label label-info"><%= item.path.blank? ? "app/example_path.erb" : item.path %></span>
			  </div>
			  <div class="panel-body">
			  	<p><%= item.description %></p>
			    <p><pre><code class="language-html"><%= h item.code %></code></pre></p>
			  </div>
			</div>
		<% end %>
		<p><a href="/lists/<%= @list.id %>/versions/<%= @version.id %>/edit">Edit this version</a> | <a href="/lists/<%= @list.id %>/versions/new">Add a new version</a></p>
	</div>
</div>

<div class="box info-relative">
	<div class="container">
		<h4>Available versions (<%= @list.versions.count %>)</h4>
		<% @list.versions.each do |version| %>
			<p><a href="/lists/<%= @list.id%>/versions/<%= version.id %>"><%= version.title ||= "Original Version" %></a></p>
		<% end %>
			<p><a class="btn btn-transparent" href="/lists/<%= @list.id %>/versions/new">Add a new version</a></p>
	</div>
</div>		