<div class="page-header">
	<div class="container">
		<p>Now editing step:</p>
		<h1><%= @item.title %></h1>
		<p>From "<%= @version.title ||= "Original" %>" Version to "<%= @list.title %>"</p>
	</div>
</div>

<div class="box">
	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="/lists/<%= @list.id %>">"<%= @list.title %>" List</a></li>
		  <li><a href="/lists/<%= @list.id %>/versions/<%= @version.id %>">"<%= @version.title ||= "Original" %>" Version</a></li>
		  <li class="active">"<%= @item.title %>" Step</li>
		</ol>


		<form action="/lists/<%= @list.id %>/versions/<%= @version.id %>/items/<%= @item.id %>" method="POST">

			<div class="panel panel-default">

				<div class="panel-heading">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Title</span>
						<input class="form-control" type="text" name="item[title]" aria-describedby="basic-addon1" value="<%= h @item.title %>">
					</div>	
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Description</span>
						<textarea class="form-control" name="item[description]" rows="3"><%= h @item.description %></textarea>
					</div>	
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">app_name/</span>
						<input class="form-control" type="text" name="item[path]" aria-describedby="basic-addon1" value="<%= @item.path %>">
					</div>							
				</div>

				<div class="panel-body">
		<!-- 			<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Code</span>
						<input class="form-control" type="text" name="item[code]" aria-describedby="basic-addon1" value="<%= @item.code %>">
					</div>	 -->
					<div class="form-group">
						<label>Code:</label>
						<textarea class="form-control" name="item[code]" rows="10"><%= h @item.code %></textarea>
					</div>
				</div>

				<div class="panel-footer">
					<p><%= @item.language ||= "No language set yet" %> <%= lang(@item) %></p>
				</div>

			</div>	

			<input type="hidden" name="_method" value="PATCH">
			<input class="btn btn-success" type="submit" value="Update Step">
		</form>
	</div>
</div>